body {
    font-family: Arial, sans-serif;
    background-color: #dbbaf6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 0px;
}

/* General styling for the form */

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Styling for form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: -10px;
}

/* Styling for form inputs */
input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Styling for the file input */
input[type="file"] {
    border: none;
}

/* Styling for the submit button */
button {
    background-color: #560bad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7229c6;
}

